@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*::before, *::after, *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   font-family: 'Roboto', sans-serif;
   user-select: none;
}
.nav-container{
    background: #f1f1f1;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}
.nav-center{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
     text-decoration: none;
     color: #000;
     display: inline-block;
     letter-spacing: 3px;
     padding: 12px 14px;
     text-align: center;
}
.logo a{
     color: aqua;
}
main{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}
.main-container{
     text-align: center;
}
.main-container h1{
  background: #333;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 3px;
  margin-bottom: 1em;
  box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}
.main-container button{
     border: 1px solid #000;
     background: transparent;
     text-transform: uppercase;
     letter-spacing: 2px;
     border-radius: 5px;
     padding: 0.25em 0.5em;
     outline: 2px solid aqua;
     cursor: pointer;
     box-shadow: 5px 0 5px 0 rgba(0,0,0,0.2);
}
